html {
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
nav {
	position: fixed;
	width: 100vw;
	top: 0;
}

nav ul {
	display: flex;
	justify-content: space-evenly;
	list-style: none;
	padding: 1rem;
	background-color: indigo;
}

nav ul a {
	color: white;
	text-decoration: none;
	font-weight: bold;
}

nav ul a:hover {
	color: black;
}

#about {
	margin: 4rem 1rem 0 1rem;
}

#list {
	list-style: none;
	display: flex;
	align-items: center;
	border: 3px solid indigo;
	justify-content: space-evenly;
	font-size: larger;
}

#list li {
	margin: 1rem 5rem;
}

.perfil-objetivo {
	width: 26rem;
	height: 14rem;
	padding: 1rem;
	margin: 0 1rem 0 0;
	font-weight: 400;
	font-size: larger;
	border: 3px solid indigo;
}
#last-box {
	width: 11rem;
	height: 14rem;
	border: 3px solid indigo;
	font-weight: 400;
	font-size: large;
	padding: 1rem;
}
#last-box ul {
	list-style: none;
}

#contenedor {
	display: flex;
	padding: 1rem;
}
#contenedor-general {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#imagen img {
	width: 14rem;
	height: auto;
	border: 3px solid indigo;
}
#datos {
	width: 76vw;
}

#expe {
	margin: 1rem 1rem;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#expe ul {
	margin: 0 1rem;
	width: 90vw;
}

#expe h3 {
	margin-bottom: 0.5rem;
}

#expe ul li {
	margin: 1rem 0;
	font-size: large;
}

.box-border {
	padding: 1rem;
	display: flex;
	border: 3px solid indigo;
}
#skills-soft {
	display: flex;
	flex-direction: column;
	margin: 1rem;
}

#soft h3 {
	margin: 1rem 0;
	font-size: x-large;
}
#skills h3 {
	margin: 1rem 0;
	font-size: x-large;
}
#skills-soft ul {
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: larger;
	list-style: none;
	font-weight: 200;
	margin: 0 1rem;
}
#skills-soft ul li {
	margin: 0.5rem;
	text-decoration: none;
	background-image: linear-gradient(currentColor, currentColor);
	background-position: 0% 100%;
	background-repeat: no-repeat;
	background-size: 0% 2px;
	transition: background-size 0.2s;
}
#skills-soft ul li:hover,
li:focus {
	background-size: 100% 2px;
}
#edu {
	flex-direction: column;
	margin: 1rem;
}
#edu ul {
	list-style: none;
}
#edu h3,
#edu ul li {
	margin-top: 1rem;
}
#display-cursos {
	display: none;
}
#display-info {
	display: none;
}
#button-cursos {
	width: 10rem;
	margin-top: 1rem;
}
#button-info {
	width: 10rem;
}

#contact {
	flex-direction: column;
	margin: 1rem;
}
#contact h3,
#contact button,
#contact div {
	margin-top: 1rem;
}
#contact ul {
	list-style: none;
}
#contact ul li {
	margin: 1rem 0;
}
